* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: Nanum;
    src: url(NanumMyeongjo-Bold.ttf);
    src: url(NanumMyeongjo-ExtraBold.ttf);
    src: url(NanumMyeongjo-Regular.ttf);
}

.jumbotron1 {
    background-image: url(peoplestanding.jpg);
    width: 100vw;
    position: absolute;
}

.jumbotron2 {
    background-image: url(two_people1.jpg);
    width: 100vw;
    position: absolute;
}

.jumbotron3 {
    background-image: url(man_computer.png);
    width: 100vw;
    position: absolute;
}

.logo {
    color: white;
    font-style: normal ;
    padding-right: 10%;
    padding-left: 50%;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: Nanum;
    margin: auto;
    vertical-align: middle;
    font-weight: bold;
    float: right;
}

.header-container1 {
    display: flex;
    position: relative;
    width: 100%;
    background-color: black;
    opacity: 0.4;
}

.header-container2 {
    display: flex;
    position: relative;
    width: 100%;
    border-bottom: 1px solid white;
}

.header-container3 {
    display: flex;
    position: relative;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 40%;
    height: 100%;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.header-logo {
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    float: right;
    width: max-content;
    height: 100%;
    width: 60%;
    padding-left: 50%;
    padding: 10px;
    margin: 0 auto;
}

.menu{
    color: white;
    text-decoration: none;
    font-family: Nanum;
    margin: 0 auto;
}

.box1 {
    height: 100%;
    width: 50%;
    display: flex;
    box-sizing: content-box;
    margin: 0 auto;
    padding: 10px;
    vertical-align: middle;
    align-items: center;
}

.text1 {
    align-items: center;
    font-size: 10vw;
    margin: 0 auto;   
    height: 100%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Nanum;
    font-weight: normal;
    color: white;
    text-align: center;
}

.text1 ::selection, .menu ::selection, .logo ::selection {
    color: #266A2E; 
}

.text2 {
    display: flex;
    font-size: 8vw;
    margin: auto;
    position: relative;
    justify-content: center;
    font-family: Nanum;
}

.text2_1 {
    display: flex;
    font-size: 3vw;
    margin: auto;
    position: relative;
    justify-content: center;
    font-family: Nanum;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.text2_1_1 {
    display: flex;
    font-size: 3vw;
    margin: auto;
    position: relative;
    justify-content: center;
    font-family: Nanum;
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.text2 ::selection, .text2_1 ::selection {
    color:  #CC6600;
}

.text3 {
    display: flex;
    font-size: 3.5vw;
    margin: auto;
    position: relative;
    justify-content: center;
    text-align: center;
    font-family: Nanum;
    padding: 5%;
}

.text3_1 {
    display: flex;
    font-size: 1.5vw;
    margin: auto;
    position: relative;
    justify-content: center;
    text-align: center;
    font-family: Nanum;
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
}

.text3 ::selection {
    color: #F88379;
}

.arrow_icon {
    justify-content: center;   
    display: flex;
    padding-top: 5%;
    position: relative;
    margin: auto;
    padding-bottom: 7%;
}

.feature_container1 {
    width: 100%;
    border-top: 1px solid black;
    padding-top: 7%;
    background-color: black;
}
.feature1 {
    display: flex;
    font-size: 4vw;
    margin: auto;
    position: relative;
    justify-content: center;
    font-family: Nanum;
    color: white;
}

.des1 {
    display: flex;
    font-size: 2vw;
    margin: auto;
    position: relative;
    justify-content: center;
    font-family: Nanum; 
    padding-top: 5%;
    padding-bottom: 10%;
    color: white;
}

.feature1 ::selection, .des1 ::selection {
    color: #266A2E;
}

.feature_container2 {
    width: 100%;
    border-top: 1px solid black;
    padding-top: 7%;
    background-color: none;
    border-bottom: 1px solid orangered;
}
.feature2 {
    display: flex;
    font-size: 4vw;
    margin: auto;
    position: relative;
    justify-content: center;
    font-family: Nanum;
}

.des2 {
    display: flex;
    font-size: 2vw;
    margin: auto;
    position: relative;
    justify-content: center;
    font-family: Nanum; 
    padding-top: 5%;
    padding-bottom: 10%;
}

.feature2 ::selection, .des2 ::selection {
    color: #CC6600;
}

.footer {
    display: grid;
    grid: row;
    font-size: 2vw;
    margin: auto;
    position: relative;
    font-family: Nanum;
    justify-content: space-evenly;
    padding: 0.5%;
    
}

.footer1 {
    display: grid;
    grid: column;
    font-size: 1.5vw;
    margin: auto;
    position: relative;
    font-family: Nanum;
    justify-content: space-evenly;
    padding: 3%;
}

.footer2 {
    display: grid;
    grid: column;
    font-size: 2vw;
    margin: 0 auto;
    position: relative;
    font-family: Nanum;
    justify-content: space-evenly;
    padding-top: 10%;
    padding-bottom: 0.5%;
}

.footer ::selection, .footer2 ::selection {
    color: #CC6600;
}

.footer1 ::selection {
    color: #266A2E;
}

@media screen and (min-width: 350px) {
    .text2, .text2_1 {
        padding-top: 70% ;
    }
}

@media screen and (min-width: 768px) {
    .text2, .text2_1 {
        padding-top: 40% ;
    }
}

@media screen and (min-width: 1024px) {
    .text2, .text2_1 {
        padding-top: 35%;
    }
}

@media screen and (min-width: 350px) {
    .text1 {
        padding-top: 40%;
    }
}

@media screen and (min-width: 768px) {
    .text1 {
        padding-top: 25%;
    }
}

@media screen and (min-width: 1024px) {
    .text1 {
        padding-top: 20% ;
    }
}

@media screen and (min-width: 350px) {
    .jumbotron1, .jumbotron2, .jumbotron3 {
        height: 50%;
    }
}

@media screen and (min-width: 768px) {
    .jumbotron1, .jumbotron2, .jumbotron3 {
        height: 50%;
    }
}

@media screen and (min-width: 1024px) {
    .jumbotron1, .jumbotron2, .jumbotron3 {
        height: 100%;
    }
}

@media screen and (min-width: 350px) {
    .menu {
        font-size: 9px;
    }
}

@media screen and (min-width: 768px) {
    .menu {
        font-size: 15px;
    }    
}

@media screen and (min-width: 1024px) {
    .menu {
        font-size: 20px;
    }    
}

@media screen and (min-width: 350px ) {
    .logo {
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .logo {
        font-size: 35px;
    }
} 

@media screen and (min-width: 1024px) {
    .logo {
        font-size: 50px;
    }
} 

@media screen and (min-width: 350px) {
    .header-container {
        height: 50px;
    }
}

@media screen and (min-width: 768px) {
    .header-container {
        height: 65px;
    }
}

@media screen and (min-width: 1024px ) {
    .header-container {
        height: 80px;
    }
}